<div class="register-form">
  <div>
    Fill in the form to {{ userRegistered ? 'register' : 'sign up' }} with Vito's
  </div>
  <br>
  <form>
    <br>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password">
      </mat-form-field>
    </div>
    <div *ngIf="userRegistered">
      <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>Contact Number</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </form>

  <div class="register">
    <button mat-button class="register" routerLink="/pizza" (click)="registerUser()">  {{ userRegistered ? 'Register' : 'Sign Up' }}</button>
  </div>
</div>
