<div class="payment-confirmation">
  <div>
    Confirm the details below for confirmation of the order.
  </div>
  <br>
  <div>
    <form [formGroup]="paymentForm">
      <mat-form-field class="full-width">
        <mat-label>Total Amount</mat-label>
        <input matInput disabled value="{{total}}">
      </mat-form-field>
      <br>
      <mat-label>Payment type</mat-label>
      <br>
      <mat-radio-group formControlName="paymentMethod" aria-label="Payment options">
        <mat-radio-button value="card">Card payment</mat-radio-button>
        <mat-radio-button value="cash">Cash on delivery</mat-radio-button>
      </mat-radio-group>
      <div *ngIf="paymentForm.get('paymentMethod')?.value == 'card'">
        <br>
        <mat-form-field class="full-width">
          <mat-label>Card Number</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
          <mat-label>3 digit code</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
          <mat-label>Choose a date</mat-label>
          <input matInput id="expiry-date" type="date" formControlName="expiry">
<!--          <input matInput [matDatepicker]="picker">-->
<!--          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--          <mat-datepicker #picker></mat-datepicker>-->
        </mat-form-field>
      </div>
      <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <input matInput value="Address">
      </mat-form-field>
    </form>
  </div>
  <br>
  <div class="confirm">
    <button mat-button class="confirm" routerLink="/" (click)="confirmation()"> Confirm Payment</button>
  </div>

</div>
