<div>
  <table class="order-table">
    <tr>
      <th>Pizza name</th>
      <th>Category</th>
      <th>Ordered amount</th>
      <th>Price</th>
      <th>Total</th>
    </tr>

    <tr *ngFor="let order of orders">
      <td>{{order.name}}</td>
      <td>{{order.category}}</td>
      <td>{{order.ordered_amount}}</td>
      <td>{{order.price}}</td>
      <td>{{order.price*order.ordered_amount}}</td>
    </tr>

    <tr>
      <td>Total</td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{total}}</td>
    </tr>
  </table>

  <div class="order-confirm">
    <button mat-button class="cart-view" routerLink="/payment" (click)="confirmPayment()"> Confirm Payment</button>
  </div>

  <div class="back">
    <button mat-button class="back" routerLink="/pizza"> Back to pizza</button>
  </div>

</div>
